html {
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 115px;
}
.navbar{
	display: flex;
	border-radius: 0;
	background-color: #30336b;
	border: none;
}
.navbar p{
	color: #fff;
	font-size: 2em;
	margin: 10px 25px;
}
.navbar-login{
	right: 15px;
	margin: auto 25px auto auto;
	font-size: 1.3em;
}
.navbar-login a, .navbar-login .fas{
	color: #fff;
}
.navbar-login a:hover{
	text-decoration: none;
}
.pageheader{
	text-align: center;
}
hr{
	border-color: #30336b; 
}
.loginform{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: auto;
}
.loginform input{
	height: 50px;
}
.loginform p{
	text-align: center;
}
.loginfield{
	border-bottom: 1px solid #30336b;
	display: flex;
	margin: 15px 0;
}
.loginfield i{
	margin: auto;
	color: #30336b;
	font-size: 1.5em;
}
.loginfield input{
	font-size: 1.2em;
	padding-left: 15px;
	height: 50px;
	width: 95%;
	float: right;
	outline: none;
	background: none;
	border: none;
}
.loginbutton{
	margin: 15px 0;
}
.createaccountlink{
	color: #30336b;
	border-bottom: 1px solid #30336b;
}
.createaccountlink:hover{
	text-decoration: none;
	color: #74b9ff;
	border-color: #74b9ff;
}
.successmessage h3, .centermepls{
	text-align: center;
}
.mainpageback{
	font-size: 1.5em;
	color: #333333;
	margin: 10px 0;
}
.item{
	height: 50px;
	display: flex;
	border-bottom: 1px solid #30336b;
}
.item p, .itembuttons{
	margin: auto 0;
}
.itembuttons{
	display: flex;
	margin: auto 5px auto auto;
}
.footer{
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	background-color: #30336b;
	height: 100px;
}
.footer p{
	color: #fff;
	margin: auto;
}
.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}